<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!-- 소문자 DTO 라는 이름은 이제 다시 명시할 필요 없이 type 속성의 주소에 있는 클래스의 객체를 의미함 -->
        <typeAlias type="com.nc13.springBoard.model.UserDTO" alias="userDTO"/>
        <typeAlias type="com.nc13.springBoard.model.BoardDTO" alias="boardDTO"/>
    </typeAliases>
</configuration>